/* Estilos generales para las paginas del sitio */

*{
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: "Roboto", sans-serif;
    
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    max-width:  1100px;
    margin: auto;
}

header{
    background-color: rgb(245,245,245);
}

header .logotipo{
    margin: 0;
    padding: 15px 20px;
    color: rgb(0, 174, 255);
    height: 12%;
    width: 12%;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;  
}

/* Configuracion del carrusel (Hay que corregirlo) */

.carrousel{
    width: 100%;
    height:100%;
    align-items:center ;
}

.contCarrousel{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position:relative;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselCont{
    width: 50%;
    height: 50%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemH1{
    background-color: lightgray;
}

#itemH2{
    background-color: lightgrey;
}

#itemH3{
    background-color: lightgrey;
}

#itemV1{
    background-color: lightgray;}

#itemV2{
    background-color: lightgrey;
}

#itemV3{
    background-color: lightgrey;
}


.itemCarrouselArrows > a > i{
    color: black;
}